<!-- app/templates/adicionar_sorvete.html -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Adicionar Sorvete</title>
  </head>

  <body>
    <h1>Adicionar Novo Sorvete</h1>
    <form action="{{url_for('sorveteria.listar_sorvetes')}}" method="post">
      <label for="sabor">Sabor:</label><br />
      <input type="text" id="sabor" name="sabor" required /><br />
      <label for="preco">Preço (R$):</label><br />
      <input
        type="number"
        id="preco"
        name="preco"
        step="0.01"
        min="0"
        required
      /><br />
      <label for="quantidade_estoque">Quantidade em Estoque:</label><br />
      <input
        type="number"
        id="quantidade_estoque"
        name="quantidade_estoque"
        min="0"
        required
      /><br />
      <label for="Categoria">Categoria:</label><br />
        <select id="categoria" name="categoria">
        {% for categoria in categorias %}
        <option value="{{ id.categoria }}" >{{categoria.nome}}</option>
        {% endfor %}</select>
      <br /><br />
      <button type="submit">Adicionar</button>
    </form>
  </body>
</html>
