<!-- app/templates/sorvetes.html -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Sorvetes</title>
  </head>
  <body>
    <h1>Sorvetes Disponíveis</h1>
    <p>
      <a href="{{ url_for('sorveteria.adicionar_sorvete') }}"
        >Adicionar Novo Sorvete</a
      >
    </p>
    <ul>
      {% for sorvete in sorvetes %}
      <li><a href="{{ url_for('sorveteria.get_sorvete', sorvete_id=sorvetes['id']) }}">(Sabor: {{ sorvete.sabor }}) (ID: {{ sorvete.id }})</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
